.foro{
    display: flex;
    justify-content: center;   
    margin-top: 63px;
    
}


@media screen and (min-width: 1000px) {
    .foro{
        justify-content: space-evenly; /* Muestra el contenedor cuando la pantalla es más ancha que 500px */
        
    }
    .foroWrapper{
        overflow-y: scroll;
        width: 60%; /* Ajusta el ancho según tus necesidades */
        align-items: center;    
    }
    .foroWrapper::-webkit-scrollbar {
        width: 0.5em; /* Ancho de la barra de desplazamiento */
        background-color: rgb(244, 241, 241);
       
    }
}
.post{
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    
}

.postWrapper{
    width: 100%;
    border-radius: 10px;
    background-color: rgb(244, 241, 241);
    margin: 30px 0px;
    padding: 10px;
}


.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
}

.postTopLeft{
    display: block;
    align-items: center;
}

.postUsername{
    font-size: 20px;
    font-weight: 500;
    margin:0 10px;
}
.publishDate{
    font-size: 10px;
    font-weight: 500; 
    display: block;
}
.postDate{
    font-size: 12px;
}

.postCenter{
    margin: 20px 0;
    
}

.postText{
    width: 500px;
    text-align: justify;
    padding: 0 10px 0 10px;
    word-wrap: break-word;
    
}
.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft{
    display: flex;
    align-items: center;
}

.LikeIcon{
    width: 24px;
    height: 24px;
    
    cursor: pointer;
}

.postCommentText{
    font-size: 15px;
    cursor: pointer;
    border-bottom: 1px dashed gray;
}

.filters{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(210, 207, 207);
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.filter{
    border-radius: 10px;
    cursor: pointer;
}

.filter:hover{
    background-color: rgb(160, 158, 158)
}

.postLikeCounter{
    font-size: 15px;
    font-weight: 500;
}

.buttonBorder{
    border: none;
    background: none;
}