/* styles.css */
.admin-page {
  display: flex; /* Utiliza un contenedor flexbox para organizar los elementos */
}

.sidebar { 
  margin-right: 50px;
  width: 400px;
  height: 655px; /* Ancho del Sidebar */
  background-color: #333; /* Color de fondo del Sidebar */
  color: #fff; /* Color de texto del Sidebar */
  padding: 20px; /* Espacio interno del Sidebar */
  margin-top: 100px;
  
}

.content {
  flex-grow: 1; /* El contenido ocupa el espacio restante en el contenedor */
  padding: 20px; /* Espacio interno del contenido */
}

.sidebar-button {
    display: block;
    /*width: 100%;*/
    padding: 10px;
    background-color: #1c2530; /* Color de fondo del botón */
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sidebar-button:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor por encima */
  }

  
  
  .user-count img {
    width: 50px; /* Ajusta el ancho de la imagen según tus preferencias */
    height: 50px; /* Ajusta la altura de la imagen según tus preferencias */
    margin-right: 10px; /* Agrega un margen a la derecha de la imagen para separarla del texto */
  }

  .user-count {
    margin-top: 20px; /* Agrega un margen superior para separar la cantidad de usuarios del contenido anterior */
    padding: 20px;
    background-color: #fff; /* Fondo blanco para destacar el bloque */
    border: 5px solid #ddd; /* Borde para resaltar el bloque */
  }
  
  .user-count h3 {
    font-size: 18px;
  }
  
  .user-count p {
    font-size: 24px;
    font-weight: bold;
    color: #007BFF; /* Color de texto para resaltar el número de usuarios */
  }
  
  .user-table {
    position: absolute; /* Opcional: utiliza "absolute" para un control más preciso */
    top: 100px; /* Ajusta la posición verticalmente */
    left: 320px; /* Ajusta la posición horizontalmente */
    height: 100px;
    
  }
  
.table th:nth-child(1),
.table td:nth-child(1) {
  width: 10%; /* Porcentaje del ancho que deseas para la Columna 1 */
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 20%; /* Porcentaje del ancho que deseas para la Columna 1 */
}
.table th:nth-child(3),
.table td:nth-child(3) {
  width: 25%; /* Porcentaje del ancho que deseas para la Columna 1 */
}
.table th:nth-child(4),
.table td:nth-child(4) {
  width: 20%; /* Porcentaje del ancho que deseas para la Columna 1 */
}
  

  
.flex-grow-1{
    margin-left: 100px;
    left: 100px;
    margin-top: 80px; 
    padding: 20px;
}