.css-hazmlH {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  z-index: 0;
}

.css-gDdGhK {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1);
  z-index: -1;
}

.css-iRqTzz {
  max-width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}

.css-gCYXkZ {
  padding-top: 0;
  padding-right: 32px;
  padding-bottom: 0;
  padding-left: 32px;
}
.css-bVFrLX {
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  -ms-grid-columns: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
}

.css-cGimUo {
  -ms-grid-row-align: center;
  align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: -2;
  grid-column: 1/-1;
}

.css-bcDAtT {
  -ms-grid-column: 1;
  -ms-grid-column-span: -2;
  grid-column: 1/-1;
}

.css-dkcVmX {
  width: 85%;
}
.css-gCYXkZ {
  color: #ffffff;
  background-color: transparent;
  padding-top: 0;
  padding-right: 24px;
  padding-bottom: 0;
  padding-left: 24px;
}

.css-jNMsjR {
  margin-bottom: 24px;
}

.css-WiLSj {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: multiple;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: left;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

.css-iYgZzq {
  margin-right: 24px;
}

.css-pOuht {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: -2;
  grid-column: 1/-1;
}

.css-bENDJs {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-left-width: 0;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-style: none;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  outline: none;
  box-shadow: none;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  transition-property: background;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
  cursor: pointer;
  margin-left: 0;
  margin-top: 12px;
  margin-right: 0;
  margin-bottom: 0;
  font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 25px;
  padding-right: 25px;
  color: #000000;
  background-color: #ffffff;
}

.css-hmUeKG {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-left-width: 0;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-style: none;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  outline: none;
  box-shadow: none;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  transition-property: background;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
  cursor: pointer;
  margin-left: 0;
  margin-top: 12px;
  margin-right: 0;
  margin-bottom: 0;
  font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 25px;
  padding-right: 25px;
  color: #FFFFFF;
  background-color: #000000;
}

.footer-content {
  width: 100%;
  height: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  position: fixed; 
  bottom: 0px;
  background-color: #181818;
  


}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 10px;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  right: -700px;
  bottom: 70px;
  
}

.social-icons a {
  text-decoration: none;
  font-size: 16px;
}



/* Estilos para la columna izquierda (contiene la imagen) */
.left-column {
  flex: 1;
}

/* Estilos para la columna derecha (contiene los botones) */
.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Estilos para la imagen */
.image {
  width: 100%; /* Ajusta el ancho de la imagen */
  height: auto; /* Mantén la proporción original */
  max-height: 80vh; /* Limita la altura máxima */
  margin-bottom: 20px; /* Espacio inferior */
}


img {
  max-width: 100%;
  max-height: 100vh;
  height: auto;
  width: auto;
  border-radius: 10px;
  padding: auto;
}


/* Estilos para los botones */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: black;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 0; /* Espacio vertical entre botones */
  cursor: pointer;
}

.css-gqcHgx {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  width: 85%;
  height: auto;
  min-height: auto;
  max-height: auto;
  margin:  auto;
  padding-top: 0;
  padding-bottom: 0;
}

.css-iEvxyM {
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
  padding-bottom: 0;
  -ms-grid-row-align: center;
  align-self: center;
}

.css-fVLpfI {
  color: #000000;
  background-color: #FFFFFF;
  padding-top: 60px;
  padding-right: 24px;
  padding-bottom: 40px;
  padding-left: 24px;
  display: inline-flex;
}

.css-fVLpfI img {
  width: 80%; /* Ajusta el ancho según sea necesario */
}

.css-hPnljU {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-lines: nowrap;
  flex-wrap: nowrap;
}

.css-bjGIiq {
  -ms-grid-column: 1;
  -ms-grid-column-span: -2;
  grid-column: 1/-1;
  width: 100%;
  -ms-grid-row-align: center;
  align-self: center;
  display: -ms-grid;
  display: grid;
}


.css-jzIGNN {
  font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  -webkit-transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  color: currentColor;
  letter-spacing: 0;
  margin: 0;
  width: 100%;
  text-align: left ;
  
}

.css-eDslgm {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-height: auto;
  max-height: auto;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
}