  .full-page-bg {
    background-color:#e6f7ff; /* Your desired light blue color */
    min-height: 100vh; /* Ensure the background covers the full viewport height */
  }
  .link-container {
    position: relative;
    top: 100px;
    left: 0px;
  }
  .container {
  
    padding-top: 100px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .full-page-bg {
    background-color:#e6f7ff; /* Your desired light blue color */
    min-height: 100vh; /* Ensure the background covers the full viewport height */
  }
  
  /* Estilos para las estrellas no seleccionadas */
  .star {
  color: gray; /* Color de las estrellas no seleccionadas */
  cursor: pointer; /* Cambia el cursor al puntero al pasar el ratón sobre las estrellas */
  font-size: 24px; /* Tamaño de fuente de las estrellas */
  margin-right: 5px; /* Espacio entre las estrellas */
  }
  
  /* Estilos para la estrella seleccionada */
  .star.star-selected {
  color: gold; /* Color de la estrella seleccionada */
  }
  
  /* Estilo para el contenedor de calificación */
  .star-rating {
  display: inline-block; /* Alinea las estrellas en línea */
  }
  
  .container {
    
      padding-top: 100px;
      background-color: #ffffff;
      border: 1px solid #ddd;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
  }

  .mb-4{
    padding: 20px;
  }
  
  .f1{
    padding-left: 40px;
  }