.full-page-bg {
  background-color:#e6f7ff; /* Your desired light blue color */
  min-height: 100vh; /* Ensure the background covers the full viewport height */
}

/* Estilos para las estrellas no seleccionadas */
.star {
color: gray; /* Color de las estrellas no seleccionadas */
cursor: pointer; /* Cambia el cursor al puntero al pasar el ratón sobre las estrellas */
font-size: 24px; /* Tamaño de fuente de las estrellas */
margin-right: 5px; /* Espacio entre las estrellas */
}

/* Estilos para la estrella seleccionada */
.star.star-selected {
color: gold; /* Color de la estrella seleccionada */
}

/* Estilo para el contenedor de calificación */
.star-rating {
display: inline-block; /* Alinea las estrellas en línea */
}