.left-container{
    display: none;
    
    width: 500px;
}
@media screen and (min-width: 1000px) {
    .left-container {
        display: block; /* Muestra el contenedor cuando la pantalla es más ancha que 500px */
    }
}